<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-App</title>
    <link rel="shortcut icon" href="profile.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div> 
        <div id="app">
            <h1>TODO'S</h1>
            <input id="add-bar" type="text" placeholder="Add todo..." v-on:keyup.enter="addTodo">     
              
            <ul style="list-style: none;">
              <li v-for="todo in todos" :key="todo.id" class="flex">
                <label>
                  <input type="checkbox" v-model="todo.done">
                  <span>&nbsp</span>
                </label>
                <del v-if="todo.done">{{ todo.text }}</del>
                <span v-else>{{ todo.text }}</span>
                <div class="space"></div>
                <button v-on:click="removeTodo(todo.id)" id="cross-btn">X</button>
              </li>
            </ul>
          </div>
        <script src="file.js"></script>
    </div> 
</body>
</html>
